{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="{% static '/images/img3.png' %}" type="image/x-icon">

    <title>Interview world</title>

    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
  </head>
  <body>
    <center>
        <h1>INTERVIEW WORLD</h1>
        <h3>A next gen Interview experience...</h3>
        <br>
        <div>
          <img id="img1" src="{% static '/images/img1.png' %}" alt="">
        </div>
        <br>
        <div class="flex-container">

          <div class="flex-child magenta">
            Description
          </div>
          
          <div class="flex-child green">
            <img id="img2" src="{% static '/images/img2.png' %}" alt="">
            <button class="button" onclick="location.href='chat'"><span>Start Interview</span></button>
          </div>
          
        </div>

        <br>
        

    </center>
    

    
  </body>
</html>